body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'VT323', monospace;
}

#root {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .show-mobile {
        display: none !important;
    }
}